<h2>You should totally sign up! You'll be super happy!</h2>

<p>In fact, there are already two accounts that you're welcome to use:</p>
<div class="span8">
<table class="table table-condensed">
	  <thead>
      <tr>
          <th>Username</th>
          <th>Email</th>
          <th>Role</th>                                   
      </tr>
  </thead>   
  <tbody>
    <tr>
        <td>First User</td>
        <td>user1@example.com</td>
        <td>Admin</td>                          
    </tr>
    <tr>
        <td>Second User</td>
        <td>user2@example.com</td>
        <td>User</td>                          
    </tr>
  </tbody>
</table>
</div>